#bysy_indicator {
  display: none;

  background: rgb(255,241,168);
  margin-top: 5px;
  z-index: 1000;
  width: 200;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

table thead tr th { text-align: center; }